---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Servicios from "../components/Servicios.astro";
import Galeria from "../components/Galeria.astro";
import Contacto from "../components/Contacto.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Lorenails.cl">
	<Header />
	<main>
		<Hero />
		<Servicios />
		<Galeria />
		<Contacto />
	</main>
	<Footer />
</Layout>
